<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/hmanagement</property>
		<property name="connection.username">root</property>
		<property name="connection.password"/>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		
		<mapping resource="com/app/master/Department.hbm.xml" />
		<mapping resource="com/app/master/Service.hbm.xml" />
		<mapping resource="com/app/master/Test.hbm.xml" />
		<mapping resource="com/app/master/Medicine.hbm.xml" />
		<mapping resource="com/app/master/AdmissionType.hbm.xml" />
		<mapping resource="com/app/master/Doctor.hbm.xml" />
		<mapping resource="com/app/master/LoginType.hbm.xml" />
		<mapping resource="com/app/master/Staff.hbm.xml" />
		<mapping resource="com/app/master/Module.hbm.xml" />
		<mapping resource="com/app/master/Patient.hbm.xml" />
		<mapping resource="com/app/master/Ward.hbm.xml" />
		<mapping resource="com/app/master/Opd.hbm.xml" />
		<mapping resource="com/app/master/Ipd.hbm.xml" />
		<mapping resource="com/app/master/Nursing.hbm.xml" />
		<mapping resource="com/app/master/NursingTransaction.hbm.xml" />
		<mapping resource="com/app/entity/PaymentCollection.hbm.xml" />
		<mapping resource="com/app/entity/DischargeTicket.hbm.xml" />
		<mapping resource="com/app/entity/FinalBill.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>
